.stepper {
  display: flex;
  align-items: center;
}

.stepper > div + div {
  margin-left: 20px;
}

.line {
  flex: 1;
  height: 2px;
  background-color: lightgray;
}

.done {
  background-color: rgb(220, 0, 78);
}
