.landingpage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  grid-template-rows: 200px 200px 200px;
}

.landingpage > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.table {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
}
