.button {
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1.75;
  font-weight: 500;
  transition: 0.4s;
}

.buttonSmall{
  font-size: 13px;
  padding: 4px 10px;
}

.buttonMedium{
  font-size: 14px;
  padding: 6px 16px;
}

.buttonLarge{
  font-size: 15px;
  padding: 8px 22px;
}

.button:active{
  transform: scale(1.1);
}

.fullWidth{
  width:100%;
}