.chip {
  height: 32px;
  border-radius: 20px;
  border: none;
  display: inline-flex;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  padding: 0 12px;
}

.clickable{
  cursor: pointer;
}

.appearDisabled{
  opacity: 0.5;
}