.tableWrapper {
  overflow-x: auto;
  box-shadow: 3px 3px 7px lightgray;
  padding: 0;
}

.table {
  border-collapse: collapse;
  min-width: 600px;
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  position: relative;
}

.table th,
.table td {
  padding: 8px 16px;
  text-align: left;
}

.table th {
  cursor: pointer;
  text-transform: capitalize;
  /* cursor:move; */
  user-select: none;
}

.table th > div {
  display: flex;
  align-items: center;
}

.table th p {
  margin: 0;
}

.table .row {
  position: relative;
  width: 100%;
}

/* .table tr:nth-child(odd){
	background-color: #f4f4f4;
} */

.table tr:nth-child(1) {
  background-color: #47e5bc;
  color: white;
}

.table tr {
  /* border-bottom: 1px solid #ccc; */
}

