.tableWrapper{
	overflow: auto;
	box-shadow: 3px 3px 7px lightgray;
	padding:0;
}

.table{
	border-collapse: collapse;
	min-width: 600px;
	font-weight: 300;
	font-size: 14px;
	width:100%;
}

.iconsWrapper{
	display: flex;
	justify-content: flex-end;
	background-color: transparent;
}

.icons{
	padding:4px 8px;
	box-shadow: 3px -3px 7px lightgray;
	border-radius: 12px 12px 0 0;
	display: grid;
	grid-gap:15px;
}

.icons a,.icons svg{
	color:gray;
	cursor: pointer;
}

.table th,.table td{
	padding:8px;
	text-align: left;
}

.table th{
	cursor: pointer;
	text-transform: capitalize;
}

.table th>div{
	display: flex;
	align-items: center;
}

.table th p{
	margin:0;
}

.table tr:nth-child(odd){
	background-color: #f4f4f4;
}

.table tr:nth-child(1){
	background-color: #f47100;
	color:white;
}

.upicon{
	font-size: 16px !important; 
	margin-left: 10px;
	transition: 0.4s !important;
}

.invert{
	transform:rotateZ(180deg);
}

.normal{ 
	transform:rotateZ(0deg); 
}

.popoverContent{
	padding:5px;
	font-size: 14px;
}

/* :root{
  scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
  scrollbar-width: thin !important;
} */